body,html   
{
            height:100%;
            margin:0;   

}

    .bg {
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        line-height: 1.3; }
